/* Common Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/plane.png);
    background-size: cover;
    color: rgb(0, 0, 0);
  }
  
  header {
    text-align: center;
    padding: 01rem;
    background: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
  }
  
  header h1 {
    margin: 0;
  }

  /* Style for Home link in the header */
header a {
  text-decoration: none;       
  background-color: #15191c8f;  
  color: white;               
  padding: 10px 20px;      
  border-radius: 1px;         
  font-size: 16px;            
  position: absolute;       
  top: 20px;                 
  left: 20px;                 
}

header a:hover {
  background-color: #005bb5;  
  cursor: pointer;            
}

  
  main {
    padding: 20px;
  }
  
  .home-page .options {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
  }
  
/* Button styles */
.button {
    padding: 15px 30px;
    text-decoration: none;
    background-color: #0073e6; /* Solid blue color */
    color: white;
    border-radius: 10px;
    font-size: 20px;
    display: inline-block; /* Ensures proper spacing for inline buttons */
    margin: 0 20px; /* Horizontal space between buttons */
    text-align: center;
  }
  
  .button:hover {
    background-color: #005bb5; /* Darker blue on hover */
  }
  
  /* Center buttons on the screen */
  .home-page .options {
    display: flex;
    justify-content: center; 
    align-items: center; /* Vertically center buttons */
    height: 100vh; /* Full viewport height */
    flex-wrap: wrap; /* Ensure buttons wrap on smaller screens */
  }
  
  
  form input, form select, form button {
    background: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }
  
  form button {
    background-color: #0073e6;
    color: white;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #005bb5;
  }
  
  #results {
    margin-top: 20px;
  }
  
  .result-item {
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
.find-buddy-link{
 text-decoration: none;       
 background-color:#15191c8f;   
 color: white;               
 padding: 10px 20px;      
 border-radius: 1px;         
 font-size: 16px;            
 position: absolute;       
 top: 20px;                 
 left: 90%;                 
    
  }